<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167447137225-mkjr7i1nadl141a352uo23mfb7gur1tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167447137225-mkjr7i1nadl141a352uo23mfb7gur1tv</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMbCZSJP5Oh5qLHQwrzIfc_hC2rjRffg</string>
	<key>GCM_SENDER_ID</key>
	<string>167447137225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstApp</string>
	<key>PROJECT_ID</key>
	<string>specifishapp</string>
	<key>STORAGE_BUCKET</key>
	<string>specifishapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167447137225:ios:b925b04e80db64f87e3618</string>
</dict>
</plist>